html{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{
    background-color: rgb(153, 113, 228);
    max-width: 300px;
    display: flex;
    text-align: center;
}

h1{
    color:aquamarine;
    font-family: Agbalumo;
}

img{
    max-width: 200px;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: aquamarine;
}

p{
    color: aquamarine;
    font-family: Inter;
    font-weight: bold;
}

footer{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

footer button:first-child{
    padding: 8px;
    font-size: 11px;
    font-family: Inter;
    font-weight: 900;
    background-color: white;
    border-radius: 5PX;
    border-width: 2px;
    border-style: solid;
    border-color: aquamarine;
    color: rgb(153, 113, 228);
}

footer button:nth-child(2){
    padding: 8px;
    font-size: 11px;
    font-family: Inter;
    font-weight: 900;
    background-color: aquamarine;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: rgb(153, 113, 228);
}

footer button:first-child:hover{
    color: aquamarine;
    background-color: rgb(153, 113, 228);
}
footer button:nth-child(2):hover{
    color: aquamarine;
    background-color: rgb(153, 113, 228);
}
